In [2]:
import pandas as pd

In [5]:
df1 = pd.read_csv('/home/ateium/datasets/database.csv')
df1=df1[1000:2000]
df1.to_csv('significant_earthquakes.csv')

In [6]:
df1 = pd.read_csv('significant_earthquakes.csv')

In [7]:
df1.dtypes

Unnamed: 0                      int64
Date                           object
Time                           object
Latitude                      float64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [9]:
print(df1.head())

   Unnamed: 0        Date      Time  Latitude  Longitude        Type  Depth  \
0        1000  07/29/1968  11:12:02   -22.531   -174.860  Earthquake   45.0
1        1001  07/29/1968  23:52:18    -0.291    133.409  Earthquake   20.0
2        1002  07/30/1968  20:38:43    -6.987    -80.544  Earthquake   31.8
3        1003  08/01/1968  00:14:17   -26.822   -177.090  Earthquake  127.2
4        1004  08/01/1968  20:19:22    16.316    122.067  Earthquake   25.0

   Depth Error  Depth Seismic Stations  Magnitude  ...  \
0          NaN                     NaN        6.3  ...
1          NaN                     NaN        6.2  ...
2          NaN                     NaN        6.5  ...
3          NaN                     NaN        5.7  ...
4          NaN                     NaN        7.6  ...

  Magnitude Seismic Stations  Azimuthal Gap  Horizontal Distance  \
0                        NaN            NaN                  NaN
1                        NaN            NaN                  NaN
2                        NaN            NaN                  NaN
3                        NaN            NaN                  NaN
4                        NaN            NaN                  NaN

   Horizontal Error  Root Mean Square            ID  Source Location Source  \
0               NaN               NaN  ISCGEM819475  ISCGEM          ISCGEM
1               NaN               NaN  ISCGEM819494  ISCGEM          ISCGEM
2               NaN               NaN  ISCGEM819518  ISCGEM          ISCGEM
3               NaN               NaN  ISCGEM817534  ISCGEM          ISCGEM
4               NaN               NaN  ISCGEM817557  ISCGEM          ISCGEM

  Magnitude Source     Status
0           ISCGEM  Automatic
1           ISCGEM  Automatic
2           ISCGEM  Automatic
3           ISCGEM  Automatic
4           ISCGEM  Automatic

[5 rows x 22 columns]

In [12]:
df2=df1.copy()
df2['Latitude']=df1['Latitude'].astype('int64')
df2.dtypes
# changing float to int causes LOSS OF DATA. This should not be commonly done

Unnamed: 0                      int64
Date                           object
Time                           object
Latitude                        int64
Longitude                     float64
Type                           object
Depth                         float64
Depth Error                   float64
Depth Seismic Stations        float64
Magnitude                     float64
Magnitude Type                 object
Magnitude Error               float64
Magnitude Seismic Stations    float64
Azimuthal Gap                 float64
Horizontal Distance           float64
Horizontal Error              float64
Root Mean Square              float64
ID                             object
Source                         object
Location Source                object
Magnitude Source               object
Status                         object
dtype: object

In [13]:
df1['Date'][1]-df1['Date'][0]
# trying to find number of days between the dates of first 2 records

# got TypeError since 'Date' field is str dtype instead of Date
# So lets convert it to Date !

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [15]:
# Use to_datetime()
df1["Date"]=pd.to_datetime(df1["Date"], format= '%m/%d/%Y')

In [16]:
df1.dtypes

Unnamed: 0                             int64
Date                          datetime64[ns]
Time                                  object
Latitude                             float64
Longitude                            float64
Type                                  object
Depth                                float64
Depth Error                          float64
Depth Seismic Stations               float64
Magnitude                            float64
Magnitude Type                        object
Magnitude Error                      float64
Magnitude Seismic Stations           float64
Azimuthal Gap                        float64
Horizontal Distance                  float64
Horizontal Error                     float64
Root Mean Square                     float64
ID                                    object
Source                                object
Location Source                       object
Magnitude Source                      object
Status                                object
dtype: object

In [17]:
# let's try subtracting dates again
df1['Date'][1]-df1['Date'][0]

#both ttook place the same day

Timedelta('0 days 00:00:00')

In [18]:
df1.head(10)

,Unnamed: 0,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,1000,1968-07-29,11:12:02,-22.531,-174.860,Earthquake,45.0,NaN,NaN,6.3,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819475,ISCGEM,ISCGEM,ISCGEM,Automatic
1,1001,1968-07-29,23:52:18,-0.291,133.409,Earthquake,20.0,NaN,NaN,6.2,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819494,ISCGEM,ISCGEM,ISCGEM,Automatic
2,1002,1968-07-30,20:38:43,-6.987,-80.544,Earthquake,31.8,NaN,NaN,6.5,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819518,ISCGEM,ISCGEM,ISCGEM,Automatic
3,1003,1968-08-01,00:14:17,-26.822,-177.090,Earthquake,127.2,NaN,NaN,5.7,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817534,ISCGEM,ISCGEM,ISCGEM,Automatic
4,1004,1968-08-01,20:19:22,16.316,122.067,Earthquake,25.0,NaN,NaN,7.6,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817557,ISCGEM,ISCGEM,ISCGEM,Automatic
5,1005,1968-08-02,13:30:25,27.579,60.979,Earthquake,67.4,NaN,NaN,5.9,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817580,ISCGEM,ISCGEM,ISCGEM,Automatic
6,1006,1968-08-02,14:06:43,16.519,-97.739,Earthquake,25.0,NaN,NaN,7.3,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817583,ISCGEM,ISCGEM,ISCGEM,Automatic
7,1007,1968-08-03,04:54:34,25.637,128.490,Earthquake,15.0,NaN,NaN,6.7,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817611,ISCGEM,ISCGEM,ISCGEM,Automatic
8,1008,1968-08-03,06:25:05,16.475,122.230,Earthquake,25.0,NaN,NaN,6.4,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817612,ISCGEM,ISCGEM,ISCGEM,Automatic
9,1009,1968-08-04,11:41:25,6.498,126.777,Earthquake,100.0,NaN,NaN,6.1,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817656,ISCGEM,ISCGEM,ISCGEM,Automatic

In [19]:
df1['Date'][1].day

29

In [20]:
df1['Date'][1].month

7

In [21]:
df1['Date'][1].year

1968

In [ ]:
# select_dtypes()

In [22]:
decimals=df1.select_dtypes('float')
decimals.head()

,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
0,-22.531,-174.860,45.0,NaN,NaN,6.3,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.291,133.409,20.0,NaN,NaN,6.2,NaN,NaN,NaN,NaN,NaN,NaN
2,-6.987,-80.544,31.8,NaN,NaN,6.5,NaN,NaN,NaN,NaN,NaN,NaN
3,-26.822,-177.090,127.2,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN
4,16.316,122.067,25.0,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
number_data = df1.select_dtypes(exclude = 'object')
number_data.head()

,Unnamed: 0,Date,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
0,1000,1968-07-29,-22.531,-174.860,45.0,NaN,NaN,6.3,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,1968-07-29,-0.291,133.409,20.0,NaN,NaN,6.2,NaN,NaN,NaN,NaN,NaN,NaN
2,1002,1968-07-30,-6.987,-80.544,31.8,NaN,NaN,6.5,NaN,NaN,NaN,NaN,NaN,NaN
3,1003,1968-08-01,-26.822,-177.090,127.2,NaN,NaN,5.7,NaN,NaN,NaN,NaN,NaN,NaN
4,1004,1968-08-01,16.316,122.067,25.0,NaN,NaN,7.6,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## CHANGING dataTypes WHILE IMPORTING DATA

In [29]:
dtypes_dict={"Depth":"object","Time":"Date"}
# dtypes_dict={"Depth":"object"}

In [30]:
df3=pd.read_csv('significant_earthquakes.csv',dtype=dtypes_dict)
df3.dtypes

# /usr/lib/python3.11/site-packages/pandas/util/_decorators.py:211

TypeError: data type 'Date' not understood

In [31]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1000 non-null   int64
 1   Date                        1000 non-null   object
 2   Time                        1000 non-null   object
 3   Latitude                    1000 non-null   float64
 4   Longitude                   1000 non-null   float64
 5   Type                        1000 non-null   object
 6   Depth                       1000 non-null   object
 7   Depth Error                 4 non-null      float64
 8   Depth Seismic Stations      6 non-null      float64
 9   Magnitude                   1000 non-null   float64
 10  Magnitude Type              1000 non-null   object
 11  Magnitude Error             3 non-null      float64
 12  Magnitude Seismic Stations  6 non-null      float64
 13  Azimuthal Gap               6 non-null      float64
 14  Horizontal Distance         5 non-null      float64
 15  Horizontal Error            3 non-null      float64
 16  Root Mean Square            6 non-null      float64
 17  ID                          1000 non-null   object
 18  Source                      1000 non-null   object
 19  Location Source             1000 non-null   object
 20  Magnitude Source            1000 non-null   object
 21  Status                      1000 non-null   object
dtypes: float64(11), int64(1), object(10)
memory usage: 172.0+ KB

In [42]:
# category dtype :
#    category is a dtype that can be used for categorical data
dict_types = {"Type":"category",
              "Status":"category",
              "Source":"category",
              "Location Source":"category",
              "Magnitude Source":"category",
              "Magnitude Type":"category"
             }
df4 = pd.read_csv('significant_earthquakes.csv',dtype=dict_types,parse_dates=['Date','Time'])
#df4 = pd.read_csv('significant_earthquakes.csv',dtype=dict_types)
df4.dtypes

Unnamed: 0                             int64
Date                          datetime64[ns]
Time                          datetime64[ns]
Latitude                             float64
Longitude                            float64
Type                                category
Depth                                float64
Depth Error                          float64
Depth Seismic Stations               float64
Magnitude                            float64
Magnitude Type                      category
Magnitude Error                      float64
Magnitude Seismic Stations           float64
Azimuthal Gap                        float64
Horizontal Distance                  float64
Horizontal Error                     float64
Root Mean Square                     float64
ID                                    object
Source                              category
Location Source                     category
Magnitude Source                    category
Status                              category
dtype: object

In [43]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1000 non-null   int64
 1   Date                        1000 non-null   datetime64[ns]
 2   Time                        1000 non-null   datetime64[ns]
 3   Latitude                    1000 non-null   float64
 4   Longitude                   1000 non-null   float64
 5   Type                        1000 non-null   category
 6   Depth                       1000 non-null   float64
 7   Depth Error                 4 non-null      float64
 8   Depth Seismic Stations      6 non-null      float64
 9   Magnitude                   1000 non-null   float64
 10  Magnitude Type              1000 non-null   category
 11  Magnitude Error             3 non-null      float64
 12  Magnitude Seismic Stations  6 non-null      float64
 13  Azimuthal Gap               6 non-null      float64
 14  Horizontal Distance         5 non-null      float64
 15  Horizontal Error            3 non-null      float64
 16  Root Mean Square            6 non-null      float64
 17  ID                          1000 non-null   object
 18  Source                      1000 non-null   category
 19  Location Source             1000 non-null   category
 20  Magnitude Source            1000 non-null   category
 21  Status                      1000 non-null   category
dtypes: category(6), datetime64[ns](2), float64(12), int64(1), object(1)
memory usage: 131.5+ KB

In [ ]:
### MEMORY USAGE DROPS FROM 171 TO 131 KB

In [44]:
df4.describe()

,Unnamed: 0,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
count,1000.000000,1000.000000,1000.000000,1000.000000,4.00000,6.000000,1000.000000,3.000000,6.000000,6.000000,5.000000,3.0,6.000000
mean,1499.500000,10.880167,50.336599,69.302950,25.41675,7.500000,6.017780,0.272000,4.000000,266.150000,0.971240,99.0,0.436333
std,288.819436,29.335218,120.913876,116.591685,12.38650,8.288546,0.436026,0.120578,4.560702,81.483587,0.600724,0.0,0.470251
min,1000.000000,-63.398000,-179.972000,1.200000,6.83700,0.000000,5.500000,0.187000,0.000000,123.400000,0.313600,99.0,0.005000
25%,1249.750000,-9.017750,-71.793250,20.000000,25.41675,0.000000,5.700000,0.203000,0.000000,257.750000,0.313600,99.0,0.267750
50%,1499.500000,8.164500,123.131000,30.000000,31.61000,6.500000,5.900000,0.219000,3.000000,264.000000,1.377000,99.0,0.327000
75%,1749.250000,38.936500,145.416250,56.700000,31.61000,15.250000,6.200000,0.314500,7.500000,313.375000,1.415000,99.0,0.345000
max,1999.000000,79.744000,179.279000,662.000000,31.61000,16.000000,8.000000,0.410000,10.000000,360.000000,1.437000,99.0,1.360000

In [45]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1000 non-null   int64
 1   Date                        1000 non-null   datetime64[ns]
 2   Time                        1000 non-null   datetime64[ns]
 3   Latitude                    1000 non-null   float64
 4   Longitude                   1000 non-null   float64
 5   Type                        1000 non-null   category
 6   Depth                       1000 non-null   float64
 7   Depth Error                 4 non-null      float64
 8   Depth Seismic Stations      6 non-null      float64
 9   Magnitude                   1000 non-null   float64
 10  Magnitude Type              1000 non-null   category
 11  Magnitude Error             3 non-null      float64
 12  Magnitude Seismic Stations  6 non-null      float64
 13  Azimuthal Gap               6 non-null      float64
 14  Horizontal Distance         5 non-null      float64
 15  Horizontal Error            3 non-null      float64
 16  Root Mean Square            6 non-null      float64
 17  ID                          1000 non-null   object
 18  Source                      1000 non-null   category
 19  Location Source             1000 non-null   category
 20  Magnitude Source            1000 non-null   category
 21  Status                      1000 non-null   category
dtypes: category(6), datetime64[ns](2), float64(12), int64(1), object(1)
memory usage: 131.5+ KB

####

In [46]:
df4.head()

,Unnamed: 0,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,1000,1968-07-29,2024-02-17 11:12:02,-22.531,-174.860,Earthquake,45.0,NaN,NaN,6.3,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819475,ISCGEM,ISCGEM,ISCGEM,Automatic
1,1001,1968-07-29,2024-02-17 23:52:18,-0.291,133.409,Earthquake,20.0,NaN,NaN,6.2,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819494,ISCGEM,ISCGEM,ISCGEM,Automatic
2,1002,1968-07-30,2024-02-17 20:38:43,-6.987,-80.544,Earthquake,31.8,NaN,NaN,6.5,...,NaN,NaN,NaN,NaN,NaN,ISCGEM819518,ISCGEM,ISCGEM,ISCGEM,Automatic
3,1003,1968-08-01,2024-02-17 00:14:17,-26.822,-177.090,Earthquake,127.2,NaN,NaN,5.7,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817534,ISCGEM,ISCGEM,ISCGEM,Automatic
4,1004,1968-08-01,2024-02-17 20:19:22,16.316,122.067,Earthquake,25.0,NaN,NaN,7.6,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817557,ISCGEM,ISCGEM,ISCGEM,Automatic

In [49]:
df4.isna().sum()

Unnamed: 0                      0
Date                            0
Time                            0
Latitude                        0
Longitude                       0
Type                            0
Depth                           0
Depth Error                   996
Depth Seismic Stations        994
Magnitude                       0
Magnitude Type                  0
Magnitude Error               997
Magnitude Seismic Stations    994
Azimuthal Gap                 994
Horizontal Distance           995
Horizontal Error              997
Root Mean Square              994
ID                              0
Source                          0
Location Source                 0
Magnitude Source                0
Status                          0
dtype: int64